<!DOCTYPE html>
<html>
<head>
<title>profile page</title>
 <link href="stylesheets/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Mina:700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
</head>
<body>

<div class="content1">
                <div id="profile">
                    <img src="/images/xyz.jpg" alt="picture of a man">
                </div>
            <article>
                    <p>
                        Hello, I'm Avijit Mullick. I am a student of Computer Science and Engineering. I live in Narayanganj, dhaka. I want to be a web developer. So I am looking forward to this chalange.
                    </p>
                    <p>
                        My skills are html, Xhtml, css3, responsive web design, Js and Jquery, PSd to Html, PhP, wordpress theme development.
                    </p>
                     <a href="/profile2">next</a>
                </article>
</body>
</html> 
